.block{
    padding: 1rem 2rem;
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 16px rgb(43 52 69 / 10%);
    background: white;
}
.button{
    border: none;
    border-radius: 8%;
    min-height: 40px;
    padding: 0 15px;
    background: #f6f9fc;
    margin-right: 15px;
}
.button svg{
    font-size: 20px;
    margin-right: 8px;
    margin-bottom: -4px;
    height: 20px;
}
.search{
    display: flex;
    background: #f6f9fc;
    border-radius: 6px;
    padding: 11.5px;
    margin-right: 12px;
}
.search svg{
    color: #bcc1ca;
    font-size: 15px;
}
.search input{
    outline: none;
    border: none;
    color: #AEB4BE;
    background: #f6f9fc;
    margin-left: 7px;
}
.ring svg{
    height: 31px;
}
.ring{
    border: none;
    background: white;
    margin-right: 12px;
}
.image_man{
    width: 40px;
    height: 40px;
}
.right_block{
    position: absolute;
    right: 23px;
}
.menu{
    display: none;
}
@media only screen and (max-width: 1280px) {
    .menu{
        display: block;
    }

}