.header_body{
    width: 19%;
    height: 100vh;
    background: #2B3445;

}
.css-1wlk0hk-MuiAvatar-root {
    border-radius: 0!important;
    width: auto!important;
    margin-left: 8px;
}
.logo_block{
    padding: 16px;
}
.left_bar{
    padding-left: 16px;
}
.left_bar p{
    white-space: normal;
    font-weight: 600;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: all 0.15s ease;
    color: #fff;
}
.link{
    color: #fff;
    text-decoration: none;
}
.link svg{
    height: 25px;
    margin-right: 12px;
}
@media only screen and (max-width: 1280px) {
    .aaa{
        display: none;
    }
    .zzz{
        z-index: 1000;
    position: fixed;
    width: 40%;
    }
}