body {
  margin: 0!important;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flex{
  display: flex;
}
.max_width{
  width: 100%;
}
.diplay_none{
  display: none;
}
.diplay_block{
  display: block;
}
.fixed{
  position:fixed
}
.container{
  margin: auto;
  width: 1200px;
}
.title{
  margin-bottom: 16px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: none;
    white-space: normal;
}
.page_color{
  background: #a6a9ad17;
}